<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verakriss</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    <header>
        <div class="logo-area">
            <img src="/img/logo.svg" alt="">
            <h2>Verakriss</h2>
        </div>
        <nav>
            <a href="/">Начало</a>
            <a href="/about">За нас</a>
            <a href="/services">Услуги</a>
            <a href="/partners">Партньори</a>
            <a href="/news">Новини</a>
            <a href="/contacts">Контакти</a>
        </nav>
    </header>
    {{{body}}}
    <footer>
        <div class="footer-logo-container">
            <img src="/img/white-logo.svg" alt="">
            <h2>Verakriss</h2>
        </div>
        <div class="footer-nav">
            <nav>
                <div>
                    <a href="/">Начало</a>
                    <a href="/about">За нас</a>
                    <a href="/services">Услуги</a>
                </div>
                <div>
                    <a href="/partners">Партньори</a>
                    <a href="/news">Новини</a>
                    <a href="/contacta">Контакти</a>
                </div>
            </nav>
        </div>
        <div class="footer-info">
            <p>+359 878 5727 04</p>
            <p>office@verakriss.eu</p>
        </div>
    </footer>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>