<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verakriss</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
</head>

<body>
    <header>
        <div class="logo-area">
            <img src="/img/logo.svg" alt="">
            <h2>Verakriss</h2>
        </div>
        <nav>
            <a href="/">Начало</a>
            <a href="/about">За нас</a>
            <a href="/services">Услуги</a>
            <a href="/partners">Партньори</a>
            <a href="/news">Новини</a>
            <a href="/contacta">Контакти</a>
        </nav>
    </header>
    {{{body}}}
    <footer></footer>
</body>

</html>