<section class="landing">
    <h1>Добре дошли във <br> Verakriss!</h1>

    <dotlottie-player src="https://lottie.host/cf400a1b-b0b1-46ab-826c-2d542fd8277d/NU1VD6UA1x.json"
        background="transparent" speed="1" autoplay></dotlottie-player>
</section>
<section class="section-2">
    <h1>За нас</h1>
    <p>Verakriss е счетоводна къща, която предлага цялостни решения за бизнеса. Ние сме Вашият партньор във
        финансовото съвършенство, осигурявайки прецизни и ефективни финансови услуги, от счетоводство до изготвяне на
        данъци. Нашата мисия е да предоставим цялостни решения за бизнеса, които да гарантират точност и ефективност,
        предлагайки рационализирани процеси и ценна информация. Ние сме тук, за да Ви помогнем да издигнете бизнеса си с
        увереност.</p>
</section>
<section class="section-3">
    <img src="https://img.freepik.com/premium-photo/professional-accountant-woman-office-headshot-female-accountant-doing-accounting-managing_817921-1883.jpg"
        alt="">
    <div class="section-3-content">
        <h1>Ваня Ненова</h1>
        <p>Ваня Ненова е Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ducimus quae maiores totam aut
            enim, laudantium sit nobis quod pariatur inventore atque quia? Amet quibusdam dolor, nihil non esse quasi?
            <br> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ducimus quae maiores totam aut
            enim, laudantium sit nobis quod pariatur inventore atque quia? Amet quibusdam dolor, nihil non esse quasi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ducimus quae maiores totam aut
            enim, laudantium sit nobis quod pariatur inventore atque quia? Amet quibusdam dolor, nihil non esse quasi?
        </p>
    </div>
</section>
<section class="section-4">
    <h1>Нашата мисия</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ducimus quae maiores totam aut
        enim, laudantium sit nobis quod pariatur inventore atque quia? Amet quibusdam dolor, nihil non esse quasi?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ducimus quae maiores totam aut
        enim, laudantium sit nobis quod pariatur inventore atque quia? Amet quibusdam dolor, nihil non esse quasi?</p>
</section>