<h1 class="heading">Свържете се с нас</h1>
<section class="contacts-container">
    <div class="form-container">
        <form action="">
            <label for="">Име</label>
            <input type="text" name="name">
            <label for="">Имейл</label>
            <input type="text" name="email">
            <label for="">Телефон</label>
            <input type="text" name="phone">
            <label for="">Съобщение</label>
            <textarea name="" id="" name="message"></textarea>
            <div>
                <button type="submit">Изпрати</button>
            </div>
        </form>
    </div>
    <div class="info-container">
        <div class="info">
            <h2>Нека започнем разговора, който води до успеха на вашия проект.</h2>
            <div>
                <p><span>Телефон:</span> +359 878 5727 04</p>
                <p><span>Имейл:</span> office@verakriss.eu</p>
            </div>
        </div>
        <div class="vector">
            <img src="/img/contacts.svg" alt="A vector of a woman using her phone">
        </div>
    </div>
</section>