<main>
    <link rel="stylesheet" href="/styles/home.css">
    <section class="landing-section">
        <div class="landing-content">
            <h1>Прецизни счетоводни решения: Вашият партньор във финансовото съвършенство</h1>
            <p>Издигнете бизнеса си с Verakriss. Нашите квалифицирани счетоводители осигуряват точни и ефективни
                финансови услуги, от
                счетоводство до изготвяне на данъци.</p>
            <a class="button1" href="/about">Научи повече</a>
        </div>
        <div class="landing-lottie">
            <img src="/img/landing-back-shape.svg" alt="">
            <dotlottie-player src="https://lottie.host/d311ab7f-f3a9-4165-8ded-0484002a5085/s6muWHILY2.json"
                background="transparent" speed="1" autoplay></dotlottie-player>
        </div>
    </section>
    <section class="landing-section-2">
        <div class="landing-2-lottie">
            <dotlottie-player src="https://lottie.host/0200fd90-233b-49e7-b2c8-3f8a531a2b34/8zC37mptxU.json"
                background="transparent" speed="1" autoplay></dotlottie-player>
        </div>
        <div class="landing-2-content">
            <h1>Защо да изберете нас?</h1>
            <p>Изпитайте финансово съвършенство с нашите персонализирани услуги. От прецизно счетоводство до
                стратегическо данъчно
                планиране, ние предоставяме цялостни решения за бизнеса. Нашият опитен екип гарантира точност и
                ефективност, предлагайки
                рационализирани процеси и ценна информация. Издигнете бизнеса си с увереност.</p>
        </div>
        <img class="landing-shadow" src="/img/landing-shadow.svg" alt="">
    </section>
    <section class="services">
        <h1>Нашите услуги</h1>
        <div class="services-content">
            <div class="service">
                <img src="/img/example-icon.svg" alt="">
                <h2>Месечно обслужване</h2>
            </div>
            <div class="service">
                <img src="/img/example-icon.svg" alt="">
                <h2>Месечно обслужване</h2>
            </div>
            <div class="service">
                <img src="/img/example-icon.svg" alt="">
                <h2>Месечно обслужване</h2>
            </div>
        </div>
        <a href="#" class="button1">Всички услуги</a>
    </section>
    <section class="recent-news">
        <h1>Последни Новини</h1>
        <div class="news-container">
            <div class="news">
                <img src="/img/black-img.svg" alt="">
                <h2>Заглавие</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis consectetur consequatur perferendis,
                    dolorem dignissimos voluptate quasi eum. Aperiam sequi eaque perspiciatis, fugiat voluptatem dolor
                    aut labore ab rem cupiditate...</p>
                <a href="#"><span>Прочети още</span></a>
            </div>
            <div class="news">
                <img src="/img/black-img.svg" alt="">
                <h2>Заглавие</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis consectetur consequatur perferendis,
                    dolorem dignissimos voluptate quasi eum. Aperiam sequi eaque perspiciatis, fugiat voluptatem dolor
                    aut labore ab rem cupiditate...</p>
                <a href="#"><span>Прочети още</span></a>
            </div>
            <div class="news">
                <img src="/img/black-img.svg" alt="">
                <h2>Заглавие</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis consectetur consequatur perferendis,
                    dolorem dignissimos voluptate quasi eum. Aperiam sequi eaque perspiciatis, fugiat voluptatem dolor
                    aut labore ab rem cupiditate...</p>
                <a href="#"><span>Прочети още</span></a>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</main>