<main>
    <link rel="stylesheet" href="/styles/home.css">
    <section class="landing-section">
        <div class="landing-content">
            <h1>Прецизни счетоводни решения: Вашият партньор във финансовото съвършенство</h1>
            <p>Издигнете бизнеса си с Verakriss. Нашите квалифицирани счетоводители осигуряват точни и ефективни
                финансови услуги, от
                счетоводство до изготвяне на данъци.</p>
            <a class="button1" href="/about">Научи повече</a>
        </div>
        <div class="landing-lottie">
            <img src="/img/landing-back-shape.svg" alt="">
            <dotlottie-player src="https://lottie.host/d311ab7f-f3a9-4165-8ded-0484002a5085/s6muWHILY2.json"
                background="transparent" speed="1" autoplay></dotlottie-player>
        </div>
    </section>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</main>