<section class="partners">
    <div class="partner-box">
        <img src="https://cdn.pixabay.com/photo/2017/03/16/21/18/logo-2150297_640.png" alt="">
        <div class="partner-info">
            <h3>Partner Name</h3>
            <p>Partner Description</p>
        </div>
    </div>
    <div class="partner-box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAHXPluq6GtTRPDIHRv5kJPy86uFjp5sO7hg&usqp=CAU"
            alt="">
        <div class="partner-info">
            <h3>Partner Name</h3>
            <p>Partner Description</p>
        </div>
    </div>
    <div class="partner-box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd1ItbLR9_1kVT-hdH_4HAcEb_E8eHVBAJWQ&usqp=CAU"
            alt="">
        <div class="partner-info">
            <h3>Partner Name</h3>
            <p>Partner Description</p>
        </div>
    </div>
    <div class="partner-box">
        <img src="https://st2.depositphotos.com/1810600/5838/v/450/depositphotos_58387439-stock-illustration-abstract-vector-logo.jpg"
            alt="">
        <div class="partner-info">
            <h3>Partner Name</h3>
            <p>Partner Description</p>
        </div>
    </div>
    <div class="partner-box">
        <img src="https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/w_596,c_limit,q_auto:best,f_auto/fc/3034007-inline-i-applelogo.jpg"
            alt="">
        <div class="partner-info">
            <h3>Partner Name</h3>
            <p>Partner Description</p>
        </div>
    </div>
    <div class="partner-box">
        <img src="https://cdn.mos.cms.futurecdn.net/4mq9T9G8jXFWHwJX2LJbD.jpg" alt="">
        <div class="partner-info">
            <h3>Partner Name</h3>
            <p>Partner Description</p>
        </div>
    </div>
</section>