<section class="landing">
    <h1 class="landing-h1">Нашите услуги</h1>
    <p class="landing-p">Разгледайте нашите услуги за персонализирани решения, които издигат вашия бизнес.</p>
    <div class="services">
        <div class="service">
            <img src="/img/example-icon.svg" alt="">
            <h2>Месечно обслужване</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro maxime aut doloribus modi cum?
                Officiis quod nulla nisi deleniti dolorum fugiat blanditiis id repudiandae sequi, cum earum adipisci
                explicabo.</p>
        </div>
        <div class="service">
            <img src="/img/example-icon.svg" alt="">
            <h2>Месечно обслужване</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro maxime aut doloribus modi cum?
                Officiis quod
                nulla nisi deleniti dolorum fugiat blanditiis id repudiandae sequi, cum earum adipisci explicabo.
            </p>
        </div>
        <div class="service">
            <img src="/img/example-icon.svg" alt="">
            <h2>Месечно обслужване</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro maxime aut doloribus modi cum?
                Officiis quod
                nulla nisi deleniti dolorum fugiat blanditiis id repudiandae sequi, cum earum adipisci explicabo.
                dae sequi, cum earum adipisci explicabo.
            </p>
        </div>
        <div class="service">
            <img src="/img/example-icon.svg" alt="">
            <h2>Месечно обслужване</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro maxime aut doloribus modi cum?
                Officiis quod nulla nisi deleniti dolorum fugiat blanditiis id repudiandae sequi, cum earum adipisci
                explicabo.</p>
        </div>
        <div class="service">
            <img src="/img/example-icon.svg" alt="">
            <h2>Месечно обслужване</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro maxime aut doloribus modi cum?
                Officiis quod
                nulla nisi deleniti dolorum fugiat blanditiis id repudiandae sequi, cum earum adipisci explicabo.
            </p>
        </div>
        <div class="service">
            <img src="/img/example-icon.svg" alt="">
            <h2>Месечно обслужване</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil porro maxime aut doloribus modi cum?
                Officiis quod
                nulla nisi deleniti dolorum fugiat blanditiis id repudiandae sequi, cum earum adipisci explicabo.
                dae sequi, cum earum adipisci explicabo.
            </p>
        </div>
    </div>
</section>