.landing-shadow {
    position: absolute;
    left: 50%;
    top: 40rem;
    width: 100vw;
    transform: translateX(-50%);
    z-index: -1;
    overflow: hidden;
}

.section-2-shadow {
    position: absolute;
    top: 70rem;
    left: 18rem;
    width: 50rem;
    z-index: -1;
}

.contacts-shape {
    position: absolute;
    left: 0;
    top: 0;
}

/* --- FIRST SECTION --- */

.landing-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10rem;
    margin-top: 20rem;
}

.landing-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.landing-content h1, 
.landing-content p{
    width: 60%;
}

.landing-lottie dotlottie-player {
    width: 50rem;
    z-index: 1;
}

.landing-lottie img {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    z-index: 0;
}

/* --- SECOND SECTION --- */

.landing-section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10rem;
    margin-top: 25rem;
}

.landing-2-lottie dotlottie-player {
    width: 70rem;
}

.landing-2-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.landing-2-content h1,
.landing-2-content p {
    width: 60%;
}

/* --- THIRD SECTION --- */

.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin: 20rem;
    margin-bottom: 0 !important;
}

.services-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.service {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    height: 30rem;
    width: 24rem;
    background-color: #B59354;
    text-align: center;
    border-radius: 40px;
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem 0 #47381cad;
}

.service h2,
.service p {
    color: #EBEBEB;
}

/* --- FOURTH SECTION --- */

.recent-news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 10rem;
    margin-top: 25rem;
    gap: 5rem;
}

.recent-news h1 {
    border-bottom: 0.2rem solid #263238;
}

.news-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.news {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 40rem;
    background-color: #b59354b7;
    border-radius: 50px;
}

.news img {
    border-radius: 50px 50px 0 0;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.news h2,
.news p {
    margin-top: 1rem;
    text-align: center;
    padding: 0 1rem;
}

.news p {
    height: 15rem;
}

.news a {
    display: flex;
    justify-content: flex-end;
    color: #2E393D;
}

.news span {
    border-bottom: solid 0.15rem #2E393D;
    padding-bottom: 0.1rem;
    margin-right: 2rem;
}

/* --- FIFTH SECTION --- */

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30vw;
    margin: 10rem;
    margin-left: 0 !important;
}

.contacts-vector {
    position: relative;
}

.contacts-image {
    margin-left: 5rem;
    margin-top: 5rem;
}

.contacts-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    max-width: 40%;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contacts-info p span {
    color: #B59354;
}