<section class="news">
    <h1>Новини</h1>
    <div class="news-container">
        <img src="https://cdn.marica.bg/images/marica.bg/1322/1200_nap-sgrada.webp" alt="">
        <div>
            <h2>Заглавие</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam, molestiae sit consectetur
                debitis fugit ut? Sed aperiam harum provident, modi soluta asperiores animi illo? Blanditiis quidem
                commodi tempora suscipit!</p>
            <a class="button2" href="">Прочети повече</a>
        </div>
    </div>
    <div class="news-container">
        <img src="https://cdn.marica.bg/images/marica.bg/1322/1200_nap-sgrada.webp" alt="">
        <div>
            <h2>Заглавие</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam, molestiae sit consectetur
                debitis fugit ut? Sed aperiam harum provident, modi soluta asperiores animi illo? Blanditiis quidem
                commodi tempora suscipit!</p>
            <a class="button2" href="">Прочети повече</a>
        </div>
    </div>
    <div class="news-container">
        <img src="https://cdn.marica.bg/images/marica.bg/1322/1200_nap-sgrada.webp" alt="">
        <div>
            <h2>Заглавие</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam, molestiae sit consectetur
                debitis fugit ut? Sed aperiam harum provident, modi soluta asperiores animi illo? Blanditiis quidem
                commodi tempora suscipit!</p>
            <a class="button2" href="">Прочети повече</a>
        </div>
    </div>
    <div class="news-container">
        <img src="https://cdn.marica.bg/images/marica.bg/1322/1200_nap-sgrada.webp" alt="">
        <div>
            <h2>Заглавие</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam, molestiae sit consectetur
                debitis fugit ut? Sed aperiam harum provident, modi soluta asperiores animi illo? Blanditiis quidem
                commodi tempora suscipit!</p>
            <a class="button2" href="">Прочети повече</a>
        </div>
    </div>
    <div class="news-container">
        <img src="https://cdn.marica.bg/images/marica.bg/1322/1200_nap-sgrada.webp" alt="">
        <div>
            <h2>Заглавие</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita veniam, molestiae sit consectetur
                debitis fugit ut? Sed aperiam harum provident, modi soluta asperiores animi illo? Blanditiis quidem
                commodi tempora suscipit!</p>
            <a class="button2" href="">Прочети повече</a>
        </div>
    </div>
</section>