body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/* NAVIGATION */

.burger {
  display: none;
}

.inactive {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  transition: 500ms;
  box-shadow: 10px 10px 10px rgb(206, 206, 206);
}

.nav-heading h1 {
  font-size: 1.8rem;
  color: #d00000;
  margin-left: 3rem;
}

nav ul {
  padding-block-start: 0px;
  list-style: none;
}

.navMenu {
  display: flex;
  gap: 2rem;
}

.navMenu a {
  text-decoration: none;
  color: black;
  transition: 200ms;
}

.navMenu li:last-child a {
  margin-right: 3rem;
  border: solid 0.2rem black;
  padding: 0.7rem;
}

.navMenu a:hover {
  font-size: 1.2rem;
}

.navMenu li:last-child a:hover {
  background-color: #d00000;
  border: solid 0.2rem #d00000;
  color: white;
  border-radius: 100px;
  font-size: 1rem;
}

/* Section 1 */

.landing {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
  gap: 5rem;
}

.landing-left h1 {
  width: 10rem;
  font-size: 2.5rem;
  border-bottom: solid 0.2rem #d00000;
  opacity: 0%;
  transition: 1s;
}

.landing-left p {
  margin-top: 2rem;
  font-size: 1.5rem;
  opacity: 0%;
  transition: 1s;
}

/* Section 2*/

.second-container {
  display: flex;
  gap: 5rem;
  margin-top: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: space-between;
}

.second-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



.second-right h1 {
  font-size: 2.5rem;
  border-bottom: solid 0.2rem #d00000;
  display: inline-block;
  width: 47rem;
  opacity: 0%;
  transition: 1s;
}

.second-right p {
  font-size: 1.5rem;
  text-align: right;
  max-width: 47rem;
  opacity: 0%;
  transition: 1s;
}

/* Section 3 */

.third-container {
  display: flex;
  margin-top: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
  justify-content: space-between;
  gap: 15rem;
}

.third-left h1 {
  font-size: 2.5rem;
  text-align: left;
  border-bottom: solid 0.2rem #d00000;
  width: 39rem;
  opacity: 0%;
  transition: 1s;
}

.third-left p {
  font-size: 1.5rem;
  text-align: left;
  opacity: 0%;
  transition: 1s;
}

/* ANIMATIONS */
/* FIRST VECTOR */

#Person {
  opacity: 0%;
  transition: 1s;
}

#Vector,
#Vector_2_2,
#Vector_3_2,
#Vector_4_2,
#Vector_5_2 {
  transition: 1s;
  opacity: 0%;
}

#Ball_1,
#Ball_2,
#Ball_3,
#Ball_4,
#Ball_5,
#Line {
  opacity: 0%;
  transition: 1s;
}

#Underline-lines {
  opacity: 0%;
  transition: 1s;
}

/* SECOND VECTOR */

#Person_2 {
  opacity: 0%;
  transition: 1s; 
}

#Background {
  opacity: 0%;
  transition: 1s;
}

#Table_line_1,
#Table_line_2,
#Table_line_3,
#Table_line_4 {
  opacity: 0%;
  transition: 1s;
}

#Table_confirm {
  opacity: 0%;
  transition: 1s;
}

#Ball_2_1,
#Ball_2_2,
#Ball_2_3 {
  opacity: 0%;
  transition: 1s;
}

/* THIRD SECTION */

#Person_3 {
  opacity: 0%;
  transition: 1s;
}

#Menu {
  opacity: 0%;
  transition: 1s;
}

#Main_background {
  opacity: 0%;
  transition: 1s;
}

#Small_square_1,
#Small_square_2,
#Small_square_3,
#Small_square_4,
#Small_square_5 {
  opacity: 0%;
  transition: 1s;
}

#Small_line_1,
#Small_line_2,
#Small_line_3,
#Small_line_4,
#Small_line_5 {
  opacity: 0%;
  transition: 1s;
}

#Big_square_1 {
  opacity: 0%;
  transition: 1s;
}

#Small_square_7,
#Small_square_8 {
  opacity: 0%;
  transition: 1s;
}

#Big_square_3 {
  opacity: 0%;
  transition: 1s;
}

#Part_1,
#Part_2,
#Part_3,
#Part_4 {
  opacity: 0%;
  transition: 1s;
}

#Big_square_2 {
  opacity: 0%;
  transition: 1s;
}

/* FOOTER */

footer {
  align-items: center;
  align-self: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  border-top: solid 0.2rem #d00000;
  margin-top: 2rem;
  background-color: white;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: black;
  transition: 200ms;
}

.footer-links a:hover {
  border-bottom: solid 0.1rem black;
  font-size: 1.2rem;
}

/*-------------------*/
/* RESPONSIVE DESIGN */
/*-------------------*/

@media screen and (max-width: 1750px) {
  .landing-right svg {
    width: 736px;
    height: 514px;
  }

  .second-container svg {
    width: 376px;
    height: 490px;
  }

  .third-container svg {
    width: 756px;
    height: 440px;
    display: inline-block;
  }
}

@media screen and (max-width: 1650px) {
  .landing-left h1 {
    font-size: 2rem;
  }

  .landing-left p {
    font-size: 1.1rem;
  }

  .second-right h1 {
    font-size: 2rem;
  }

  .second-right p {
    font-size: 1.1rem;
  }

  .third-left h1 {
    font-size: 2rem;
  }

  .third-left p {
    font-size: 1.1rem;
  }

  .third-right svg {
    width: 656px;
    height: 340px;
  }
}

@media screen and (max-width: 1550px) {

  .landing {
    flex-direction: column;
    gap: 5rem;
  }

  .landing-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .landing-right svg {
    width: 536px;
    height: 314px;
  }

  .landing-left h1 {
    font-size: 1.9rem;
    width: auto;
  }

  .landing-left p {
    font-size: 0.9rem;
    text-align: center;
    max-width: 50rem;
  }

  .second-container {
    flex-direction: column;
    gap: 5rem;
    margin-top: 3rem;
  }

  .second-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second-left svg {
    height: 272px;
    width: 390px;
  }

  .second-right h1 {
    font-size: 1.9rem;
    text-align: center;
    width: auto;
  }
  
  .second-right p {
    font-size: 0.9rem;
    max-width: 50rem;
    text-align: center;
  }

  
    .third-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  .third-left h1 {
    font-size: 1.9rem;
    text-align: center;
    width: auto;
    margin-top: 7rem;
  }

  .third-left p {
    font-size: 1rem;
    text-align: center;
    max-width: 50rem;
  }

  .third-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .third-container {
    gap: 5rem;
    flex-direction: column;
    align-items: items;
    justify-content: center;
    margin-top: 3rem;
  }
}


@media screen and (max-width: 800px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .navMenu {
    display: none;
  }

  .nav-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vh;
    align-items: center;
  }

  .burger {
    border: none;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-size: cover;
    background: url(/img/menu.svg) no-repeat center;
  }

  .active {
    display: none;
  }

  .inactive {
    display: none;
  }

  .activated {
    display: block;
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    background: url(/img/menu.svg) no-repeat center;
    transition: 200ms;
  }


  .nav-heading {
    margin: 0;
  }

  .nav-heading h1 {
    font-size: 1.6rem;
    text-align: center;
    margin-left: 0;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-start: 0px;
    overflow: hidden;
    height: 0;
  }

  .open {
    height: auto;
  }

  nav li {
    list-style: none;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none;
    color: black;
  }

  nav a:last-child {
    border: none;
    padding: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  /* Contect */

  .landing {
    gap: 0;
  }

  .second-container {
    gap: 1rem;
  }

  .third-container {
    gap: 1rem;
  }

  /* Footer */

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .footer-links {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 730rem) {
  .landing-left p {
    max-width: 30rem;
  }

  .second-right p {
    max-width: 30rem;
  }

  .third-left p {
    max-width: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .landing-left p {
    max-width: 20rem;
  }

  .second-right p {
    max-width: 20rem;
  }

  .third-left p {
    max-width: 20rem;
  }
}
